aiohttp==3.8.5
aiohttp-retry==2.9.1
aiosignal==1.3.1
amqp==5.3.1
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.7.1
arabic-reshaper==2.1.4
asgi-redis==1.1.0
asgiref==3.8.1
asn1crypto==1.5.1
#asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
asttokens==2.2.1
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
awsebcli==3.22.1
azampay==0.4
billiard==4.2.1
blinker==1.6.2
#boto3==1.26.140
#boto3==1.28.57
boto3==1.34.98
#botocore==1.35.99
botocore==1.35.0
CacheControl==0.13.1
cachetools==5.3.1
celery==5.4.0
cement==2.10.14
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
#colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorama==0.4.6
#comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
comm==0.1.3
constantly==15.1.0
cryptography==38.0.4
cssselect2==0.7.0
daphne==4.0.0
dataclasses-json==0.5.14
#debugpy @ file:///D:/bld/debugpy_1741148402859/work
debugpy==1.6.6
#decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
decorator==5.1.1
distlib==0.3.6
distro==1.8.0
dj-database-url==2.3.0
Django==4.2.20
django-cors-headers==3.14.0
django-jsonfield==1.4.1
django-mssql-backend==2.8.1
django-rest-framework==0.1.0
django-storages==1.13.2
djangochannelsrestframework==1.2.0
djangorestframework==3.14.0
#exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
exceptiongroup==1.1.0
#executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
executing==1.2.0
faiss-cpu==1.7.4
fcm-django==2.0.0
filelock==3.10.0
firebase-admin==6.2.0
Flask==2.3.2
Flask-RESTful==0.3.10
frozenlist==1.4.0
future==0.18.2
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpcio==1.57.0
grpcio-status==1.57.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.1
hyperlink==21.0.0
idna==3.4
#importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_metadata==6.8.0
incremental==22.10.0
#ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipykernel==6.24.0
#ipython @ file:///D:/bld/ipython_1701831845989/work
ipython==8.12.0
itsdangerous==2.1.2
#jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
#jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_client==8.2.0
#jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyter_core==5.3.0
kombu==5.5.0
langchain==0.0.268
langsmith==0.0.25
lxml==4.9.1
MarkupSafe==2.1.3
marshmallow==3.20.1
#matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
matplotlib-inline==0.1.6
msgpack==1.0.5
msgpack-python==0.5.6
mssql-django==1.5
mtaa==1.5
multidict==6.0.4
mypy-extensions==1.0.0
mysql==0.0.3
mysqlclient==2.2.0
#nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
nest_asyncio==1.5.6
numexpr==2.8.5
numpy==1.25.2
openai==1.3.4
oscrypto==1.3.0
packaging==24.2
#parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
parso==0.8.3
pathspec==0.10.1
pdf2image==1.16.3
phonenumbers==8.13.26
#pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.1.1
#prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
prompt_toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.24.2
#psutil @ file:///D:/bld/psutil_1740663155517/work
psutil==5.9.5
psycopg2-binary==2.9.10
#pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pure_eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.2.1
pydantic_core==2.6.1
#Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
Pygments==2.15.1
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
PyJWT==2.8.0
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
pyodbc==5.2.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
PyPDF2==3.0.1
PyPDF3==1.0.6
pypiwin32==223
pypng==0.20220715.0
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-pptx==0.6.23
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
#pywin32==307
PyYAML==6.0
#pyzmq @ file:///D:/bld/pyzmq_1741805168067/work
pyzmq==25.1.0
qrcode==7.3.1
redis==5.0.0
regex==2023.8.8
reportlab==3.6.12
requests==2.32.3
rsa==4.9
Rx==3.2.0
s3transfer==0.6.1
semantic-version==2.10.0
sentry-sdk==2.23.1
service-identity==23.1.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
#stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
stack_data==0.6.2
svglib==1.4.1
tenacity==8.2.3
termcolor==2.5.0
tigopesasdk==0.1.0
tiktoken==0.4.0
tinycss2==1.2.1
#tornado @ file:///D:/bld/tornado_1732615926917/work
tornado==6.3.2
tqdm==4.64.1
#traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
traitlets==5.9.0
twilio==9.5.0
Twisted==22.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing-inspect==0.9.0
#typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_extensions==4.7.1
tzdata==2025.1
tzlocal==4.3
uritemplate==4.1.1
uritools==4.0.0
urllib3==1.26.13
vine==5.1.0
virtualenv==20.21.0
#wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
#wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.6
xhtml2pdf==0.2.8
XlsxWriter==3.1.9
yarl==1.9.2
#zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zipp==3.15.0
zope.interface==6.0